<ion-content color="primary">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <h3 class="ion-text-center">Search Movie</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
      
      <ion-toolbar>
        <ion-searchbar placeholder="Search movie" debounce="700" [value]="searchText" (ionChange)="onSearch($event)"></ion-searchbar>
      </ion-toolbar>

  <ion-grid *ngIf="loadingStatus">
    <ion-row>
      <ion-col size="12" text-center>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="moviesFound.length === 0">
    <ion-header>
      <ion-toolbar>
        <ion-title>Top search movies:</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <div>
      <ion-item (click)="searchText = item" *ngFor="let item of movieSuggestions">
        <ion-avatar slot="start">
          <img src="https://c7.uihere.com/files/881/56/853/film-computer-icons-screenwriter-download-png-movie-icon.jpg">
        </ion-avatar>
        <ion-label>
          {{ item }}
        </ion-label>
      </ion-item>
    </div>

  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let movie of moviesFound">
        <ion-card (click)="presentModal(movie.id)">
          <img [src]="movie.poster_path | image">
          <ion-card-header color="primary">
            <ion-card-subtitle>{{ movie.release_date}}</ion-card-subtitle>
            <ion-card-title><h4>{{ movie.title }}</h4></ion-card-title>
          </ion-card-header>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
